# We should ignore everything in this directory
_build/
SphinxScrolldepth/
google-analytics/
datacamp-extension/
katex-extension/
ggbextension/
hoverrole/
panoptoextension/
sagecell-extension/
toggleblock-extension/